@using ASP_Meeting_18.Data;
@model Tuple<List<Category>, string?, List<string>,string>
@*@foreach (string category in Model.Item1)
{
    <div class="d-flex">
        <a asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       class='@(category==Model.Item2 ? "btn btn-outline-primary" : "btn btn-outline-secondary")'>@category</a>
    </div>
}*@
<div class="accordion card_border" style="margin-top:10px;" id="accordionPanelsStayOpenExample">

    @for (int i = 0; i < Model.Item1.Count; i++)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-@i">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="false" aria-controls="panelsStayOpen-collapse-@i" style="font-size:20px;">
                    @Model.Item1[i].Title
                </button>
            </h2>
            @if (@Model.Item1[i].ChildCategoies?.Count != null)
            {
                @foreach (string innerCatedory in @Model.Item1[i].ChildCategoies!.Select(p => p.Title))
                {
                    <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse @(Model.Item2 != null && @Model.Item1[i].ChildCategoies!.Select(p => p.Title).Contains(Model.Item2) ? "show" : "")" aria-labelledby="panelsStayOpen-heading-@i">
                        <div class="accordion-body">
                            <a asp-action="Index" asp-controller="@Model.Item4" asp-route-category="@innerCatedory" class="categoryLink @(Model.Item2 == innerCatedory ? "select" : "")">@innerCatedory</a>
                        </div>
                    </div>

                }
            }
        </div>

    }
</div>
