@model ASP_Meeting_18.Models.ViewModels.AdminViewModel.DetailsProductViewModel
@section Styles{
    <style>
        .task1 {
            display: flex;
            flex-wrap: wrap;
        }

            .task1 img {
                float: left;
                margin-right: 20px;
            }

        .text {
            margin-left: 10px;
            font-size: 20px;
            float: right;
            display: flex;
            flex-direction: column;
        }

        .name {
            font-size: 45px;
            text-align: center;
        }

        .description {
            margin-top: 20px;
            font-size: 20px;
        }
    </style>
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="task1">
    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product.Images!.First().Image!))" alt="Model.Name" width="300" height="300">
    <div class="text">
        <p class="name">@Html.DisplayFor(model => model.Product.Title)</p>
        <p>@Html.DisplayNameFor(model => model.Product.Category!.ParentCategory!.Title) : <span>@Html.DisplayFor(model => model.Product.Category!.ParentCategory!.Title)</span></p>
        <p>@Html.DisplayNameFor(model => model.Product.Category!.Title) : <span>@Html.DisplayFor(model => model.Product.Category!.Title)</span></p>
        <p>@Html.DisplayNameFor(model => model.Product.Count) : <span>@Html.DisplayFor(model => model.Product.Count)</span></p>
        <p>@Html.DisplayNameFor(model => model.Product.Price) : <span>@Html.DisplayFor(model => model.Product.Price) EUR</span></p>
        <form asp-action="AddToCart" asp-controller="Cart" method="post">
            <input type="hidden" value="@(Context.Request.Path.Value+Context.Request.QueryString.Value)" name="returnUrl" />
            <input type="hidden" name="id" value="@Model.Product.Id" />
            <input type="submit" value="Add to Cart" class="btn btn-sm btn-success" />
        </form>
    </div>
    <p class="description">@Html.DisplayNameFor(model => model.Product.Description) : <span>@Html.DisplayFor(model => model.Product.Description)</span></p>
</div>
