@using System.Security.Claims;
@model IEnumerable<Claim>
<h1>User Claims</h1>

<a asp-action="Create">Create New Claim</a>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>ValueType</th>
            <th>Issuer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Claim claim in Model)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
                <td>@claim.ValueType</td>
                <td>@claim.Issuer</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="claimsInfo" value="@claim.Type;@claim.Value;@claim.ValueType">
                        <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

